{% extends 'base.html.twig' %}

{% block title %} Book Detail {% endblock %}

{% block body %}

<div class="container-fluid">
<a class="btn btn-primary" href="{{ path ('book_list') }}">Book List</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Book Title</th>
            <th scope="col">Book Price</th>
            <th scope="col">Book Quantity</th>
            <th scope="col">Book Image</th>
            <th scope="col">Book Authors</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">{{ book.title }}</td>
            <td scope="row">{{ book.price }}</td>
            <td scope="row">{{ book.quantity }}</td>
            <td scope="row">
                {% for a in book.author %}
                  <a href="{{ path('author_detail', {'id' : a.id }) }}">
                       {{ a.name }}
                  </a>
                  <br>
                {% endfor %}
            </td>
            <td scope="row">
                    <img src="{{asset('images/book/' ~ book.image)}}" width="200px" height="288px"/>
            </td>
            <td scope="row"> 
                <a class="btn btn-warning" href="{{ path ( 'book_update' , {'id' : book.id } ) }}">Update</a>
                <a class="btn btn-danger" href="{{ path ( 'book_delete' , {'id' : book.id } ) }}"
                                          onclick = "return confirm('Are you sure to delete ?')"
                >Delete</a>
            </td>
        </tr> 
    </tbody>
</table>
</div>
{% endblock %}
